<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
    <script src="../static/js/jquery-1.9.1.js"></script>
    <script src="../static/js/java.js"></script>
  <link rel="stylesheet" type="text/css" href="../static/css/style.css" />
    <script type="text/javascript">
        function myFunction() {
            alert('hello');



        }

    </script>
</head>
<body onload = "startTimer()">
    <div id="container2">
        <div class="wrapper" id="wrapper">
            <div class="main">

            </div>

        </div>
    </div>

    <script>


        //function to center the div
        $("div.main:nth-child(1)").center(true);
    </script>
</body>
</html>